$regularCircle: blue;
$regularCircleHighlighted: rgba(73, 70, 255, 1);

$dopingCircle: red;
$dopingCircleHighlighted: #ff4c4a;

.chart {
  text {
    font-size: 8pt;
  }

  circle {
    stroke: $regularCircle;
    fill: $regularCircle;

    &.doping {
      stroke: $dopingCircle;
      fill: $dopingCircle;
    }
  }

  .highlighted {
    circle {
      stroke: $regularCircleHighlighted;
      fill: $regularCircleHighlighted;

      &.doping {
        stroke: $dopingCircleHighlighted;
        fill: $dopingCircleHighlighted;
      }
    }

    // Change text color
    text {
      fill: #303e4b;

      &.clickable {
        fill: #96ccff;
        cursor: pointer;
      }
    }
  }
}

.chart-tooltip text {
  font-size: 12pt;
}